rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Umożliwienie dostępu tylko zalogowanym użytkownikom
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}